@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900 font-sans;
}

.Toastify__toast--success {
  background-color: #4caf50;
  color: white;
}

.Toastify__toast--error {
  background-color: #f44336;
  color: white;
}
